@use './styles' as *;

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  min-height: 100vh;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  font-family: $font-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color: styles('dark', 'color');
    font-family: $font-primary;

    color-scheme: dark;

    transition: all 0.2s;
  }

  body {
    background: styles('dark', 'background_body');

    transition: all 0.2s;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color: styles('light', 'color');
    font-family: $font-primary;

    color-scheme: light;

    transition: all 0.2s;
  }

  body {
    background: styles('light', 'background_body');

    transition: all 0.2s;
  }
}
