@use '../styles/styles' as *;

.wrapper {
  display: grid;
  grid-template-areas:
    '. header header .'
    '. sidebar main .'
    'footer footer footer footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 230px minmax(320px, 1200px) auto;
  gap: 40px 30px;

  width: 100%;
  min-height: 100vh;
}

.header {
  display: none;
  grid-area: header;
  width: 0;
  height: 0;

  color: transparent;
  font-size: 0;

  visibility: hidden;
  visibility: visible;
  opacity: 0.01;

  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  clip-path: circle(0 at 50% 50%);
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.skipLink {
  position: fixed;
  top: 0;
  left: 100px;

  display: block;

  height: 0;
  overflow: hidden;

  color: var(--white);

  background: var(--primary);
}

.displayed {
  height: auto;
}

@media (max-width: 765px) {
  .wrapper {
    grid-template-areas:
      'header'
      'sidebar'
      'main'
      'footer';
    grid-template-columns: minmax(320px, 1fr);
    gap: 10px;
  }

  .header {
    display: block;
  }

  .sidebar {
    z-index: -100000000000;

    display: none;
    grid-area: sidebar;
    width: 0;
    height: 0;

    color: transparent;
    font-size: 0;

    visibility: hidden;
    visibility: visible;
    opacity: 0.01;

    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: circle(0 at 50% 50%);
  }

  .body {
    padding: 15px;
  }
}
